<div
  class="md:ml-24 flex items-center justify-between md:h-screen duration-700 dark:duration-700 bg-white dark:bg-slate-950 dark:text-white "
>
  <div class="self-start flex justify-center">
    <div class="text-4xl mt-16 flex flex-col gap-4 md:gap-0 md:flex-row ml-3 w-full">
      <div
        class="dark:shadow-lg md:w-3/5"
      >
        <div class="text-sm flex flex-col items-center justify-center border-2 animate-rotateBorder ">
          <img
            src="/1df1372d-5b5f-46c1-8351-c26b68f2668e.png"
            alt="Picture"
            class="-mt-6 flex items-center justify-center"
          />
          <h1>© All right reserved {{currentYear}} By Guluma Wakuma</h1>
        </div>
      </div>

      <div class=" ml-6 font-serif md:w-3/4 w-80">
        <div class="w-full">
          <div class="flex flex-col items-center justify-center">
            <h1>About Me</h1>
            <h1 class="text-xl text-center">I'm Software engineer and AI <br class="md:hidden">Researcher</h1>
          </div>
          <div class="p-6 max-w-4xl space-y-4  rounded-lg shadow-sm text-lg ">
            <p class="text-gray-700 dark:text-gray-400 leading-relaxed">
              I am a highly skilled computer science and engineering professional with expertise in Java, JavaScript, Python, React, Angular, Node.js, Express.js, and Spring Boot. I excel in data retrieval techniques, including SQL and Object-Relational Mappers (ORMs). With a strong foundation in mobile and web development, I combine theoretical knowledge with practical experience. I have a proven track record of successfully leading full-stack projects, demonstrating exceptional project management skills.
            </p>
            <p class="text-gray-700 dark:text-gray-400 leading-relaxed">
              Holding a dual degree in Electronics and Communication Engineering, I bring a well-rounded technical background to the table. A dynamic leader with a passion for innovation, I am driven to achieve excellence. Currently, I am expanding my skill set by working on machine learning projects. I am ready to leverage my expertise in an engaging and challenging role within my field.
          
            </p>
          </div>
      
        </div>
      
       
        
        <div class="flex flex-col gap-6 mt-4">
          <div class="text-sm flex flex-col md:flex-row md:gap-28">
            <div>
              <div class="flex gap-2">
                <label for="phone1">Phone :</label>
                <h1 id="phone1">+251 934 437 389</h1>
              </div>
              <div class="flex gap-2">
                <label for="phone2">Phone :</label>
                <h1 id="phone2">+251 713 994 374</h1>
              </div>
              <div class="flex gap-2">
                <label for="country">Country :</label>
                <h1 id="country">Ethiopia</h1>
              </div>
          
      
            
             
            </div>

            <div>
              <div class="flex gap-2 ">
                <label for="city">City :</label>

                <h1 id="city">Addis Ababa</h1>
              </div>
             
              <div class="flex gap-2">
                <label for="city">Freelance :</label>

              <h1 id="city">Available</h1>
              </div>
             
             
            </div>
          </div>
          <div class="text-sm">
            <h1>Experties:</h1>
            <ul class="grid grid-cols-3 gap-4 mt-2">
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full">Angular</h1>
                </div>
              </li>
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full">React</h1>
                </div>
              </li>
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full">Node</h1>
                </div>
              </li>
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full">SpringBoot</h1>
                </div>
              </li>
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full ">JavaScript</h1>
                </div>
              </li>
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full">HTML</h1>
                </div>
              </li>
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full">CSS</h1>
                </div>
              </li>
              <li class="flex items-center justify-center w-32">
                <div class="flex items-center justify-center text-sm space-x-2 w-24">
                  <span class="material-icons text-green-700">check_circle</span>
                  <h1 class="w-full">Tailwind</h1>
                </div>
              </li>
            </ul>
            
            
            
          </div>
          <div class="flex gap-4 items-center text-xl">
            <button
              class="px-6 dark:text-white bg-transparent hover:bg-green-500 text-slate-800 font-semibold hover:text-white border border-green-500 hover:border-transparent rounded"
            >
              Call
            </button>
            <button
              class="px-6 dark:text-white bg-transparent hover:bg-green-500 text-slate-800 font-semibold hover:text-white border border-green-500 hover:border-transparent rounded"
            >
              Send Email
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mr-14">
    <div class="flex flex-col gap-10">
      <h1 class="-rotate-90">------</h1>
      <h1 class="rotate-90">ABOUT</h1>
      <h1 class="rotate-90">------</h1>
    </div>
  </div>
</div>
