<div class="md:ml-24 flex items-center justify-between h-screen duration-700 dark:duration-700 dark:bg-slate-950 dark:text-white z-20 " >
    <div class="flex flex-col items-center justify-center space-y-3 ml-10 h-80 font-serif w-3/4">
        <h1 class="md:text-6xl text-xl font-bold">I'm Guluma Wakuma</h1>
        <h1 class="md:text-5xl text-lg">Software Engineer and AI Researcher</h1>
        <h1 class="text-sm text-center md:text-lg">Empowering Possibilities with Software and <br class="md:hidden"> Intelligence</h1>
        <div class="flex flex-col md:flex-row gap-4 items-center justify-end h-32">
            <a routerLink="contact">
            <button (click)="selectSection('contact')" class="dark:text-white bg-transparent hover:bg-green-500 text-slate-800 font-semibold hover:text-white py-1 px-8 border border-green-500 hover:border-transparent rounded">
                Contact Now
              </button>
            </a>
            <button class=" dark:text-white bg-transparent hover:bg-green-500 text-slate-800 font-semibold hover:text-white py-1 px-8 border border-green-500 hover:border-transparent rounded">
                Download CV
              </button>

        </div>
        
    </div>
    <div class="mr-1 md:mr-14">
        <div class="flex flex-col gap-10">
            <h1 class="-rotate-90">------</h1>
            <h1 class="rotate-90">HOME</h1>
            <h1 class="rotate-90">------</h1>
          
        </div>
    </div>
</div> 