<div class="dark:bg-neutral-500 w-full h-screen">
  <div class="overflow-hidden">
    <div class="w-full">
      <app-navbar
        (sectionSelected)="selectSection($event)"
        [darkMode]="darkMode()"
        [toggleDarkMode]="toggleDarkMode.bind(this)"
      />
    </div>
    <div class="w-full min-h-screen">
      <section #home><app-home (sectionSelected)="selectSection($event)"/></section>
      <section #about><app-aboutus  (sectionSelected)="selectSection($event)"/></section>
      <section #skill><app-skill></app-skill></section>
      <section #services><app-ourservice></app-ourservice></section>
      <section #works><app-ourwork></app-ourwork></section>
      <section #contact><app-contact/></section>
      <section #footer><app-footer (sectionSelected)="selectSection($event)"/></section>
    </div>
  </div>
</div>
