<div class="md:ml-24 flex items-center justify-between md:h-screen duration-700 dark:duration-700 bg-white dark:bg-slate-950 dark:text-white ">
    <div class="self-start flex flex-col justify-center  w-full">
    <div class="text-4xl mt-16 flex items-center justify-center" >
      <div class="font-serif">
     <h1>My Portfolio</h1>
        <h1 class="text-sm"> ---- SEE MY LATEST WORK</h1>
      </div>
    </div>
<div class="grid grid-cols-1 md:grid-cols-4 ml-10">
    <div class="relative m-2.5 overflow-hidden text-white rounded-lg hover:shadow-lg w-72 h-64 border">
      <img class="hover:p-2 hover:blur-sm h-full w-full" src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="card-image" />
    </div>
    <div class="relative m-2.5 overflow-hidden text-white rounded-lg hover:shadow-lg w-72 h-64 border">
      <img class="hover:p-2 hover:blur-sm h-full w-full" src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="card-image" />
    </div>
    <div class="relative m-2.5 overflow-hidden text-white rounded-lg hover:shadow-lg w-72 h-64 border">
      <img class="hover:p-2 hover:blur-sm h-full w-full" src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="card-image" />
    </div>
    <div class="relative m-2.5 overflow-hidden text-white rounded-lg hover:shadow-lg w-72 h-64 border">
      <img class="hover:p-2 hover:blur-sm h-full w-full" src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="card-image" />
    </div>
    <div class="relative m-2.5 overflow-hidden text-white rounded-lg hover:shadow-lg w-72 h-64 border">
      <img class="hover:p-2 hover:blur-sm h-full w-full" src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" alt="card-image" />
    </div>
    
   

</div>

  
  </div>
    <div class="md:mr-14">
     <div class="flex flex-col gap-20">
         <h1 class="-rotate-90">------</h1>
         <h1 class="rotate-90">PORTFOLIO</h1>
         <h1 class="rotate-90">------</h1>
       
     </div>
 </div>
</div>
